{% extends "enquete/base.html" %}
{% block content %}
<h1>Minhas questões</h1>
{# Isso é um comentario de template do Django #}
{# {%  %} serve para executar codigos como if e for dentro do template #}
{# {{  }} serve para inserir o valor da variavel dentro do template #}
{# Verifica se a variavel ultimas_questoes tem conteudo #}
{% if object_list %}
    <u class="list-group list-group-flush">
    {# Faz um for sobre as questoes dentro da variavel #}
    {% for questoes in object_list %}
        <li class="list-group-item" >
            {# utiliza o name da url para retornar ela #}
            <a class="link-dark" href="{% url 'detalhe' questoes.id %}">
                {# retorna a pergunta da questao {{ questoes.pergunta }} #}
                {{ questoes.pergunta }}
            </a>
        </li>
    {# finaliza o bloco for #}
    {% endfor %}
    </ul>
{# se a variavel ultimas_questoes for vazia #}
{% else %}
    <p>Não tem questões salvas</p>
{% endif %}
{% endblock %}