{%load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="{% static 'css/bootstrap.min.css' %}"  rel="stylesheet">
    
  </head>
  <body class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mt-4 p-5 bg-dark text-white rounded">
                <h1> PÁGINA MAIS BONITA</h1>
                <img src ="{% static '/img/show.jpg' %}" alt ="show" 
                class="img-fluid" style="max-width: 200px">
                </div>
                <form action="{% url 'voto' questao.id %}" method="post">
                  {% csrf_token %}
                  <fieldset>
                    <legend><h1>{{ questao.pergunta}}</h1></legend>
                    {% if error_message %}
                      <p><strong>{{ error_message}}</strong></p>
                    {% endif %}
                    {%for respostas in questao.resposta_set.all %}
                      <input type="radio" name="resposta" id="resposta{{forloop.counter}}" value="{{ respostas.id }}">
                      <label for="resposta{{ forloop.counter}}">{{ respostas.resposta}}</label><br> <br>
                    {% endfor %}
                  </fieldset>
                  <input type="submit" value="votar">
                </form>
            </div>
        </div>
    </div>    
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
