{% extends "enquete/base.html" %}
{% block content %}
<form action="{% url 'voto' questao.id %}" method="post">
{% csrf_token %}
<fieldset>
<legend><h1>{{ questao.pergunta}}</h1></legend>
{% if error_message %}
<p><strong>{{ error_message}}</strong></p>
{% endif %}
{%for respostas in questao.resposta_set.all %}
 <input type="radio" name="resposta" id="resposta{{forloop.counter}}" value="{{ respostas.id }}">
<label for="resposta{{ forloop.counter}}">{{ respostas.resposta}}</label><br> <br>
  {% endfor %}
 </fieldset>
<input type="submit" value="votar">
</form>
{% endblock %}
