
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
    crossorigin="anonymous">
  </head>
  <body class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mt-4 p-5 bg-dark text-white rounded">
                <h1> PÁGINA MAIS BONITA</h1>
                </div>
                <form action="{% url 'voto' questao.id %}" method="post">
                  {% csrf_token %}
                  <fieldset>
                    <legend><h1>{{ questao.pergunta}}</h1></legend>
                    {% if error_message %}
                      <p><strong>{{ error_message}}</strong></p>
                    {% endif %}
                    {%for respostas in questao.resposta_set.all %}
                      <input type="radio" name="resposta" id="resposta{{forloop.counter}}" value="{{ resposta.id}}">
                      <label for="resposta{{ forloop.counter}}">{{ respostas.resposta}}</label><br> <br>
                    {% endfor %}
                  </fieldset>
                  <input type="submit" value="votar">
                </form>
            </div>
        </div>
    </div>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
    crossorigin="anonymous"></script>
  </body>
</html>
